html {
    box-sizing: border-box;    
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    background-color: beige;
    padding: 0 16px;
} 
.nav-list-item:last-child {
    margin: 0px;
}

.nav-list-item {
    font-size: 20px;
    display: inline-block;
    margin-right: 40px;
}